#section-karticky {
    display: flex;
    flex-direction: column;
    padding: 0 8%;
}
#seckarticky-bg {
    position: absolute;
    z-index: -2;
    left: 0;
    right: 0;
    width: 100%;
    height: 75vh;
    margin-top: 5vh;
    background-color: white;
}
#section-karticky ul {
    display: flex;
    list-style: none;
    gap: 3%;
    align-items: center;
}
#section-karticky ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    text-align: center;
    color: white;
}
#section-karticky ul li p{
    font-size: 4vw;
    line-height: 80%;
    /* font-style: italic; */
}
#seckarticky-row1 {padding-bottom: 5vh;}

#seckarticky-row1 li:nth-child(1) {background: #797CCF; font-style: italic;}
#seckarticky-row1 li:nth-child(2) {background: #76CEF9; font-style: normal;}
#seckarticky-row1 li:nth-child(3) {background: #4884A7; font-style: italic;}

#seckarticky-row2 li:nth-child(1) {background: #4C3693; font-style: italic;}
#seckarticky-row2 li:nth-child(2) {background: #5867E7; font-style: normal;}
#seckarticky-row2 li:nth-child(3) {background: #4CB7D8; font-style: italic;}

@media only screen and (max-width: 500px) {
    #section-karticky {
        padding: 0;
    }
    #seckarticky-bg {
        background-color: transparent;
    }
    #section-karticky ul li {
        height: 10vh;
    }
    #seckarticky-row1 {padding-bottom: 1.5vh;}
    #section-karticky ul li p{
        font-size: 5vw;
    }
}