#section-o-nas {
    margin-top: 10vh;
    width: 70%;
    border-radius: 0 50px 50px 0;
    padding: 2vw
}
#seconas-o-nas {
    padding: 0 0% 0% 15%;
}
#seconas-paragraph {
    padding: 0 7.5% 0 15%;
    margin-top: -1%;
}

@media only screen and (max-width: 500px) {
    #section-o-nas {
        border-radius: 0 20px 20px 0;
    }
}