#logo {flex: 1; display: block;}
#nav {flex: 5; display: block;}

header {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 5% 5% 0;
}
#nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 5%;
    flex-wrap: wrap;
}
#nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#nav ul li a {
    font-size: 1.75vw;
    font-weight: 300;
    position: relative;
    color: #ffffff;
    transition: all 1s ease-out;
}
#nav ul li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#nav ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
#nav ul li a:hover {
    color: #d6d6d6;
}
#nav-burger {
    display: none;
    width: 30px;
    height: 30px;
}
#page-name {
    display: none;
}
@media only screen and (max-width: 500px) {
    header {
        justify-content: flex-start; 
        gap: 10px;
        height: 10vh;
        padding: 0;
        align-items: center;
        transition: all 0.5s;
        flex-direction: column;
    }


    header.active {
        height: 40vh;
    }
    header.active > #logo {
        top: 42vh;
    }
    header.active > #nav {
        display: block;
    }


    #logo {
        position: absolute;
        left: 15px;
        top: 12vh;
        font-size: 20px;
        transition: all 0.5s;
    }

    #nav-mobile {
        display: flex;
        align-items: center;
        margin-top: 25px;
        gap: 5px;
    }
    #nav-burger {
        display: block;
        margin: 0;
        margin-top: -5px;
        padding: 0;
        background: 0;
    }
    #page-name {
        padding-top: 1%;
        display: block;
    }
    #nav {
        display: none;
    }
    #nav ul {
        flex-direction: column;
        align-items: center;
        width: 50vw;
    }
    #nav ul li {
        width: 100%;
        /* transform: translate(-25%, 0); */
        margin-bottom: 6%;
        border-radius: 25px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.301);
    }
    #nav ul li a {
        font-size: 100%;
    }
}